
/screens
/FailedGifts

GiftScreen_1.bmp
GiftScreen_2.bmp
GiftScreen_3.bmp
GiftScreen_4.bmp
GiftScreen_5.bmp
GiftScreen_6.bmp
GiftScreen_7.bmp
GiftScreen_8.bmp
GiftScreen_9.bmp
GiftScreen_10.bmp
GiftScreen_11.bmp
GiftScreen_12.bmp
GiftScreen_13.bmp
GiftScreen_14.bmp
GiftScreen_15.bmp
GiftScreen_16.bmp
GiftScreen_17.bmp
GiftScreen_18.bmp
IgnoreColorArea.bmp