
/screens
/Captchas
/Failed captchas

CaptchaImage_1.bmp
CaptchaImage_2.bmp
CaptchaImage_3.bmp
CaptchaImage_4.bmp
CaptchaImage_5.bmp
CaptchaImage_6.bmp
CaptchaImage_7.bmp
CaptchaImage_8.bmp
CaptchaImage_9.bmp
CaptchaImage_10.bmp
CaptchaImage_11.bmp
CaptchaImage_12.bmp
CaptchaImage_13.bmp
CaptchaImage_14.bmp
CaptchaImage_15.bmp
CaptchaImage_16.bmp
CaptchaImage_17.bmp
CaptchaImage_18.bmp
CaptchaImage_19.bmp
CaptchaImage_20.bmp
CaptchaImage_21.bmp
CaptchaImage_22.bmp
CaptchaImage_23.bmp
CaptchaImage_24.bmp
CaptchaImage_25.bmp
CaptchaImage_26.bmp
CaptchaImage_27.bmp
CaptchaImage_28.bmp
CaptchaImage_29.bmp
CaptchaImage_30.bmp
CaptchaImage_31.bmp
CaptchaImage_32.bmp
CaptchaImage_33.bmp
CaptchaImage_34.bmp
CaptchaImage_35.bmp
CaptchaImage_36.bmp
CaptchaImage_37.bmp
CaptchaImage_38.bmp
CaptchaImage_39.bmp
CaptchaImage_40.bmp
CaptchaImage_41.bmp
CaptchaImage_42.bmp
CaptchaImage_43.bmp
CaptchaImage_44.bmp
CaptchaImage_45.bmp
CaptchaImage_46.bmp
CaptchaImage_47.bmp
CaptchaImage_48.bmp

*.exp
*.lib
*.pdb