
/screens
/Captchas
/Failed captchas

CaptchaImage_1.*
CaptchaImage_2.*
CaptchaImage_3.*
CaptchaImage_4.*
CaptchaImage_5.*
CaptchaImage_6.*
CaptchaImage_7.*
CaptchaImage_8.*
CaptchaImage_9.*
CaptchaImage_10.*
CaptchaImage_11.*
CaptchaImage_12.*
CaptchaImage_13.*
CaptchaImage_14.*
CaptchaImage_15.*
CaptchaImage_16.*
CaptchaImage_17.*
CaptchaImage_18.*
CaptchaImage_19.*
CaptchaImage_20.*
CaptchaImage_21.*
CaptchaImage_22.*
CaptchaImage_23.*
CaptchaImage_24.*

*.exp
*.lib
*.pdb